################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoShop.slnx/FileContentIndex/bc4283cf-6d2c-4c0b-9bfd-d6c8b3340b05.vsidx
